<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organize My Life</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="javascript" src="../index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   

</head>
<body>
    <div class="bg-dark" style="height: 70px;">
        <div class="d-flex">
            <div class="ms-5 mt-3">
                <a type="button" class="btn bg-light" href="/">
                    <i class="bi bi-house"></i>
                </a>
            </div>
    
            <div class="ms-auto mt-3 me-5 ">
                <a type="button" class="btn bg-light" href="/about">
                    <i class="bi bi-question-circle"></i>
                </a>
            </div>
           
            
        </div>
    </div>

</body>
</html>
