<%- include ('../partials/header.ejs') %> 

<div class="vh-100">
    <div class="h-75 bg-light m-5 rounded border border-3 border-dark" >
        <div class="d-flex justify-content-center mt-3">
            <h3>Informações</h3>
        </div>

        <div class="d-flex  m-5">
            <h4>
                Projeto desenvolvido para o trabalho final da disciplina de banco de dados. <br>Modelamos informações de moradores
                em situação de rua no estado do Rio de Janeiro, utilizando nodejs, expressjs e mysql. <br>O código pode ser encontrado no github. 
            </h4>

        </div>

    </div>

</div>

<script>

  </script>

<%- include ('../partials/footer.ejs') %> 